.small-padding-right {
  padding-right: 0.5em !important;
}

.small-padding-bottom {
  padding-bottom: 0.5em !important;
}

.xs-padding {
  padding: 0.1em !important;
}

.medium-margin-top {
  margin-top: 1em !important;
}

.medium-padding-left {
  padding-left: 1em !important;
}

.medium-padding-right {
  padding-right: 1em !important;
}

.large-padding-bottom {
  padding-bottom: 9em !important;
}

.no-padding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

/* hover means when the mouse is over it */
.nav-link:hover {
  text-decoration: none;
}

.profit {
  color: green;
}

.loss {
  color: red;
}